.w-10pc { max-width: 10%; }
.w-20pc { max-width: 20%; }
.w-30pc { max-width: 30%; }
.w-40pc { max-width: 40%; }
.w-50pc { max-width: 50%; }
.w-60pc { max-width: 60%; }
.w-70pc { max-width: 70%; }
.w-80pc { max-width: 80%; }
.w-90pc { max-width: 90%; }
.w-100pc { max-width: 100%; }