/* hairline or thin */
@font-face {
    font-family: 'GraphikThin';
    src: url('../../../public/assets/fonts/Graphik-Thin.woff') format('woff'), /* Modern Browsers */
         url('../../../public/assets/fonts/Graphik-Thin.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
    font-display: swap;
}

/* extra-light */
@font-face {
    font-family: 'GraphikExtralight';
    src: url('../../../public/assets/fonts/Graphik-Extralight.woff') format('woff'), /* Modern Browsers */
         url('../../../public/assets/fonts/Graphik-Extralight.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
    font-display: swap;
}

/* light */
@font-face {
    font-family: 'GraphikLight';
    src: url('../../../public/assets/fonts/Graphik-Light.woff') format('woff'), /* Modern Browsers */
         url('../../../public/assets/fonts/Graphik-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
    font-display: swap;
}

/* regular */
@font-face {
    font-family: 'GraphikRegular';
    src: url('../../../public/assets/fonts/Graphik-Regular.woff') format('woff'), /* Modern Browsers */
         url('../../../public/assets/fonts/Graphik-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
    font-display: swap;
}

/* medium */
@font-face {
    font-family: 'GraphikMedium';
    src: url('../../../public/assets/fonts/Graphik-Medium.woff') format('woff'), /* Modern Browsers */
         url('../../../public/assets/fonts/Graphik-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
    font-display: swap;
}

/* semi-bold or book */
@font-face {
    font-family: 'GraphikSemibold';
    src: url('../../../public/assets/fonts/Graphik-Semibold.woff') format('woff'), /* Modern Browsers */
         url('../../../public/assets/fonts/Graphik-Semibold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
    font-display: swap;
}

/* bold */
@font-face {
    font-family: 'GraphikBold';
    src: url('../../../public/assets/fonts/Graphik-Bold.woff') format('woff'), /* Modern Browsers */
         url('../../../public/assets/fonts/Graphik-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
    font-display: swap;
}


/* black */
@font-face {
    font-family: 'GraphikBlack';
    src: url('../../../public/assets/fonts/Graphik-Black.woff') format('woff'), /* Modern Browsers */
         url('../../../public/assets/fonts/Graphik-Black.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
    font-display: swap;
}


/* super */

@font-face {
    font-family: 'GraphikSuper';
    src: url('../../../public/assets/fonts/Graphik-Super.woff') format('woff'), /* Modern Browsers */
         url('../../../public/assets/fonts/Graphik-Super.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
    font-display: swap;
}


